{% use "bootstrap_3_layout.html.twig" %}


{% block translatable_text_row %}

    {{ form_label(form) }}
    <ul class="nav nav-tabs">
        {% for locale,child in form %}
            <li role="presentation" class="{{ locale == app.request.locale?"active":"" }}">
                <a aria-controls="trans-field-{{ form.vars.name }}-{{ locale }}" role="tab" data-toggle="tab" href="#trans-field-{{ form.vars.name }}-{{ locale }}">{{ child.vars.name|trans }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 10px">
    {% for locale,child in form %}
        <div role="tabpanel" class="tab-pane {{ locale == app.request.locale?"active":"" }}" id="trans-field-{{ form.vars.name }}-{{ locale }}">
            {{ form_widget(child) }}
        </div>
    {% endfor %}
    </div>


{% endblock %}

{% block translatable_textarea_row %}
    {{ form_label(form) }}
    <ul class="nav nav-tabs">
        {% for locale,child in form %}
            <li role="presentation" class="{{ locale == app.request.locale?"active":"" }}">
                <a aria-controls="trans-field-{{ form.vars.name }}-{{ locale }}" role="tab" data-toggle="tab" href="#trans-field-{{ form.vars.name }}-{{ locale }}">{{ child.vars.name|trans }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 10px">
        {% for locale,child in form %}
            <div role="tabpanel" class="tab-pane {{ locale == app.request.locale?"active":"" }}" id="trans-field-{{ form.vars.name }}-{{ locale }}">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    </div>


{% endblock %}
{% block translatable_group_row %}
<div>
    {% for child in form %}
    {{ form_row(child) }}
    {% endfor %}
</div>
{% endblock %}

{% block translations_row %}
<style>
    .tab-content {
        border: 1px solid #ccc;
        border-top: none;
        padding: 10px;
        margin-bottom:15px;
    }

    .nav.nav-tabs {
        margin-top:15px;
    }
</style>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">

        {% for child in form %}
        {% set locale = child.vars.lang %}
        {% set localeData = nacholibre_get_locale(locale) %}
        <li role="presentation" {% if loop.first %}class="active"{% endif %}>
            <a href="#{{ locale }}" aria-controls="home" role="tab" data-toggle="tab">
                <span style='vertical-align:middle;'>{{ localeData.name }}</span>
                <!--({{ locale }})-->
                <img src='{{ asset("bundles/nacholibredoctrinetranslatableform/img/flags/" ~ locale ~ ".png") }}' style='vertical-align:middle;' />
            </a>
        </li>
        {% endfor %}
        {#
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        #}
    </ul>

    <div class="tab-content">
        {% for child in form %}
        {% set locale = child.vars.lang %}
        {% set localeData = nacholibre_get_locale(locale) %}
        <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="{{ locale }}">
            {% for c in child %}
            {{ form_row(c, {label: c.vars.label ~ ' (' ~ locale ~ ')'}) }}
            {% endfor %}
        </div>
        {% endfor %}
        {#
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
        #}
    </div>
</div>




{% endblock %}
