{% use "bootstrap_3_layout.html.twig" %}


{% block translatable_text_row %}

    {{ form_label(form) }}
    <ul class="nav nav-tabs">
        {% for locale,child in form %}
            <li role="presentation" class="{{ locale == app.request.locale?"active":"" }}">
                <a aria-controls="trans-field-{{ form.vars.name }}-{{ locale }}" role="tab" data-toggle="tab" href="#trans-field-{{ form.vars.name }}-{{ locale }}">{{ child.vars.name|trans }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 10px">
    {% for locale,child in form %}
        <div role="tabpanel" class="tab-pane {{ locale == app.request.locale?"active":"" }}" id="trans-field-{{ form.vars.name }}-{{ locale }}">
            {{ form_widget(child) }}
        </div>
    {% endfor %}
    </div>


{% endblock %}

{% block translatable_textarea_row %}
    {{ form_label(form) }}
    <ul class="nav nav-tabs">
        {% for locale,child in form %}
            <li role="presentation" class="{{ locale == app.request.locale?"active":"" }}">
                <a aria-controls="trans-field-{{ form.vars.name }}-{{ locale }}" role="tab" data-toggle="tab" href="#trans-field-{{ form.vars.name }}-{{ locale }}">{{ child.vars.name|trans }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 10px">
        {% for locale,child in form %}
            <div role="tabpanel" class="tab-pane {{ locale == app.request.locale?"active":"" }}" id="trans-field-{{ form.vars.name }}-{{ locale }}">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    </div>


{% endblock %}
{% block translatable_group_row %}
<div>
    {% for child in form %}
    {{ form_row(child) }}
    {% endfor %}
</div>
{% endblock %}

{% block translations_row %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        {% for child in form %}
        {% set locale = child.vars.lang %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ locale }}" aria-expanded="true" aria-controls="collapseOne">
                        {{ locale }}
                    </a>
                </h4>
            </div>
            <div id="{{ locale }}" class="panel-collapse {% if not loop.first %}collapse{% else %}collapse in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {{ form_row(child) }}
                    {#
                    {% if locale == 'bg' %}
                    {{ form_row(form.name) }}
                    {{ form_row(form.content) }}
                    {% else %}
                    {{ form_row(form['name' ~ '_en']) }}
                    {{ form_row(form['content' ~ '_en']) }}
                    {% endif %}
                    #}
                </div>
            </div>
        </div>
        {% endfor %}




        {#
        {% for locale in locales %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ locale }}" aria-expanded="true" aria-controls="collapseOne">
                        {{ locale }}
                    </a>
                </h4>
            </div>
            <div id="{{ locale }}" class="panel-collapse {% if not loop.first %}collapse{% else %}collapse in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {% if locale == 'bg' %}
                    {{ form_row(form.name) }}
                    {{ form_row(form.content) }}
                    {% else %}
                    {{ form_row(form['name' ~ '_en']) }}
                    {{ form_row(form['content' ~ '_en']) }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        #}
    </div>
{% endblock %}
