{% block translations_row %}
<style>
    .tab-content {
        border: 1px solid #ccc;
        border-top: none;
        padding: 10px;
        margin-bottom:15px;
    }
    .nav.nav-tabs {
        margin-top:15px;
    }
</style>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs translations" role="tablist">

        {% for child in form %}
        {% set locale = child.vars.lang %}
        {% set localeData = nacholibre_get_locale(locale) %}
        <li role="presentation" {% if loop.first %}class="active"{% endif %}>
            <a href="#trans_{{ locale }}" aria-controls="home" role="tab" data-toggle="tab">
                <span style='vertical-align:middle;'>{{ localeData.name }}</span>
                <!--({{ locale }})-->
                <img src='{{ asset("bundles/nacholibredoctrinetranslatableform/img/flags/" ~ locale ~ ".png") }}' style='vertical-align:middle;' />
            </a>
        </li>
        {% endfor %}
        {#
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        #}
    </ul>

    <div class="tab-content">
        {% for child in form %}
        {% set locale = child.vars.lang %}
        {% set localeData = nacholibre_get_locale(locale) %}
        <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="trans_{{ locale }}">
            {% for c in child %}
            {{ form_row(c, {label: c.vars.label ~ ' (' ~ locale ~ ')'}) }}
            {% endfor %}
        </div>
        {% endfor %}
        {#
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
        #}
    </div>
</div>
<script>
    $(function() {
        $('ul.translations li a').each(function(index, elem) {
            var href = $(this).attr('href');

            if($(href).find('.has-error').length) {
                $(this).prepend('<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i>');
            }
        });
    });
</script>
{% endblock %}
